.calendar__body__item {
    border: 1px transparent solid;
    position: relative;
}

.calendar__body__item:hover {
    transition: border-color .1s ease;
    border: 1px var(--clr-calendar-item-border) solid;
}

.calendar__body__item__date {
    font-size: 1.25rem;
    margin: 0.5rem;
    pointer-events: none;
}

.calendar__body__item__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    color: var(--clr-calendar-cnt-text);
    pointer-events: none;
}

.calendar__body__item__date-not-cur-month {
    color: var(--clr-calendar-not-cur-month-text);
}

.calendar__body__item__date-cur {
    background-color: var(--clr-calendar-cur-date);
}

.calendar__body__item__date-cur > .calendar__body__item__date {
    color: var(--clr-calendar-cur-date-text);
}

.calendar__body__item__date-cur > .calendar__body__item__count {
    color: var(--clr-calendar-cur-cnt-text);
}